.forum {
  padding: 2rem;
  background: rgb(41, 39, 39);
}

.forumHeader {
  text-align: center;
  color: white;
}

.forum-text {
  margin-top: 1%;
  text-align: center;
  color: white;
}

.newPost-div {
  text-align: center;
  color: white;
  border-color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  border-style: solid;
  font-size: 20px;
}

.form-header {
  color: gray;
  font-size: 18px;
  text-align: left;
  display: inline-block;
}

.namebox,
.titlebox,
.textbox {
  margin-bottom: 0.5rem;
}
.textbox {
  width: 60%;
}
.postCards__item__info {
  padding: 10px 10px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(28, 27, 27, 0.712);
}

.postCards__item__text {
  font-size: 22px;
  line-height: 24px;
  color: white;
  margin-bottom: 10px;
  text-decoration: underline;
}

.postCards__item__subtext {
  font-size: 14px;
  line-height: 24px;
  color: whitesmoke;
}

.search-form {
  margin-left: 5%;
  margin-bottom: 1%;
}

.search-label {
  color: white;
}

.search-input {
  margin-left: 1%;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .postCards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .postCards__item {
    margin-bottom: 2rem;
  }
}
