.forum {
  padding: 2rem;
  background: rgb(41, 39, 39);
}

.forumHeader {
  text-align: center;
  color: white;
}

.forum-text {
  margin-top: 1%;
  text-align: center;
  color: white;
}

.newPost-div {
  text-align: center;
  color: white;
  border-color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  border-style: solid;
  font-size: 20px;
}

.form-header {
  color: gray;
  font-size: 18px;
  text-align: left;
  display: inline-block;
}

.namebox,
.titlebox,
.textbox {
  margin-bottom: 0.5rem;
}
.textbox {
  width: 60%;
}
.postCards__item__info {
  padding: 20px 20px 20px;
  border-color: black;
  margin-left: 4%;
  margin-right: 4%;
}

.postCards__item__text {
  font-size: 22px;
  line-height: 24px;
  color: white;
  margin-bottom: 10px;
}

.postCards__item__subtext {
  font-size: 14px;
  line-height: 24px;
  color: whitesmoke;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .postCards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .postCards__item {
    margin-bottom: 2rem;
  }
}
